* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*----comman----*/

.background {
    width: 100%;
    height: 1150px;
    background: #3a6186;
    background: -webkit-linear-gradient(to bottom left, #3a6186 0%, #666699 20%, #8E0E00 100%);
    background: linear-gradient(to bottom left, #3a6186 0%, #666699 20%, #8E0E00 100%);
}

/*---- Section-1 ----*/

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    background: black;
}

/*---- Section-2 ----*/

.main {
    width: 100%;
    height: 1000px;
    top: 50px;
    position: absolute;
}

/*---- Section-3 ----*/

.footer {
    width: 100%;
    height: 100px;
    top: 1050px;
    position: absolute;
}